---
import {
  IconBrandFacebook,
  IconBrandInstagram,
  IconBrandTwitter,
} from "@tabler/icons-react";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex flex-1 xl:h-[85vh] bg-[#007664]">
    <div
      class="flex flex-col items-center gap-6 xl:gap-10 justify-center flex-1 huellitas-bg text-white text-center px-6"
    >
      <h2 class="font-black text-4xl xl:text-6xl">Contáctanos</h2>
      <p class="text-xl xl:text-3xl">
        Nuestro principal canal de información es instagram, escríbenos por
        mensaje directo DM
      </p>
      <div class="flex gap-4">
        <a
          href="https://www.instagram.com/proteccionanimaljaveriana"
          target="_blank"
        >
          <IconBrandInstagram size={55} />
        </a>
        <a
          href="https://facebook.com/ProteccionAnimalJaveriana/"
          target="_blank"
        >
          <IconBrandFacebook size={55} />
        </a>
        <a href="https://twitter.com/JaverianaAnimal" target="_blank">
          <IconBrandTwitter size={55} />
        </a>
      </div>
    </div>
  </div>
</MainLayout>
