---

---

<html lang="es" about="acha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAJ</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico?v=2" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=7"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=7"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=7"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="flex flex-col h-screen xl:min-h-[auto] xl:h-screen">
    <slot />

    <style is:global>
      .hovered-menu {
        width: 18vw;
      }

      .hovered-menu p {
        display: flex !important;
      }

      @media (min-width: 1280px) {
      }
    </style>

    <style is:global>
      /* Hide scrollbar for Chrome, Safari and Opera */
      *::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      * {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      body {
        background-color: white;
      }

      input {
        @apply rounded-md outline-none px-3 p-2;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .huellitas-bg {
        background: url(/background.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    </style>
  </body>
</html>
